.page-container {
  margin: 0 auto;
  padding: 20px;
}

.page-title {
  font-size: 2em;
  margin-bottom: 20px;
  margin-left: 25px;
}

.card-add {
  display: flex;
  gap: 20px;
}

.add-car-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;
}